<div class="row justify-space-between-md">
    <h2>Write Comment</h2>
    <form class="form form-comment">
        <div>
            <label for="comment-content-submit">Add Comment:</label>
            <input class="form-input" type="text" id="content-comment" />
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Comment</button>
        </div>
    </form>
</div>

<script src="...public/js/addcomment.js"></script>