<div class="row justify-space-between-md">
    <h2>Write Post</h2>
    <form class="form form-post">
        <div>
            <label for="post-title-submit">Post Title:</label>
            <input class="form-input" type="text" id="title-post" />
        </div>
        <div>
            <label for="post-content-submit">Post Content:</label>
            <input class="form-input" type="text" id="content-post" />
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Post</button>
        </div>
    </form>
</div>

<script src="...public/js/addpost.js"></script>