<!--make sure post has 'data-id' as part of element (references 'addPost.js' -->

<div class="row">
  <div>
    <h2>Welcome</h2>
  </div>
</div>

<div class="post_list">
    {{#if posts.length}}
    <div>
        <h3>News Feed:</h3>
        {{#each posts as |post|}}
            <div>
                <div>
                    <h4><a href="./partial/posts/{{post.id}}">{{post.title}}</a></h4>
                </div>
                <div>
                    <button class="delete-button" data-id="{{post.id}}">DELETE</button>
                </div>
            </div>
        {{/each}}
    </div>
  {{/if}}
</div>