<div class="row justify-space-between-md">
    <h2>New User Signup</h2>
    <form class="form form-signup">
        <div>
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Signup</button>
        </div>
    </form>
</div>

<script src="...public/js/login_signup.js"></script>